---
import Progress from "../components/Progress.astro";
import Typography from "../components/Typography.astro";
import Layout from "../layouts/Layout.astro";
import {
  getPokemonInfo,
  getDamageRelations,
  getAllPokemon,
} from "../services/pokemon";
import type { RelationDamageResponse } from "../types/pokedex";

const { slug } = Astro.params;
const info = await getPokemonInfo(slug as string);
const baseURL = import.meta.env.BASE_URL;

const principalTypeNumber = info.types.map(({ type }) =>
  type.url.split("type/").pop()?.replace("/", "")
);

let damageRelations: RelationDamageResponse[] = [];
for (const type of principalTypeNumber) {
  const damage = await getDamageRelations(type as string);
  damageRelations.push(damage);
}
const pricinpalType = info.types[0].type.name;
const prettyId = info.id.toString().padStart(3, "0");

const prettyWeigth = () => {
  const weigth = info.weight / 10;
  return weigth > 1 ? `${weigth}kg` : `${weigth * 1000}g`;
};

const prettySize = () => {
  const size = info.height / 10;
  const centimeters = info.height * 10;
  return size > 1 ? `${size}m` : `${centimeters}cm`;
};

export const getStaticPaths = async () => {
  const pokemons = await getAllPokemon();
  return pokemons.results.map((pokemon) => ({
    params: { slug: pokemon.name },
  }));
};
---

<Layout
  title="Taller de Astro consumiento la API de Pokemon"
  type={pricinpalType}
>
  <div
    class="flex flex-col items-center justify-center w-1/2 h-full space-y-4 bg-black/20 rounded-3xl mx-auto"
  >
    <div class="flex">
      <img
        src={info.sprites.other?.["official-artwork"].front_default || ""}
        alt={`${slug} image`}
        width="300"
        height="300"
        transition:name={`${slug}-image`}
      />
    </div>

    <div
      class:list={[
        "border-2 rounded-tr-3xl rounded-b-3xl flex flex-col w-full pr-4",
        {
          "border-pokemon-normal-900": pricinpalType === "normal",
          "border-pokemon-fire-900": pricinpalType === "fire",
          "border-pokemon-water-900": pricinpalType === "water",
          "border-pokemon-electric-900": pricinpalType === "electric",
          "border-pokemon-grass-900": pricinpalType === "grass",
          "border-pokemon-ice-900": pricinpalType === "ice",
          "border-pokemon-fighting-900": pricinpalType === "fighting",
          "border-pokemon-poison-900": pricinpalType === "poison",
          "border-pokemon-ground-900": pricinpalType === "ground",
          "border-pokemon-flying-900": pricinpalType === "flying",
          "border-pokemon-psychic-900": pricinpalType === "psychic",
          "border-pokemon-bug-900": pricinpalType === "bug",
          "border-pokemon-rock-900": pricinpalType === "rock",
          "border-pokemon-ghost-900": pricinpalType === "ghost",
          "border-pokemon-dragon-900": pricinpalType === "dragon",
          "border-pokemon-dark-900": pricinpalType === "dark",
          "border-pokemon-steel-900": pricinpalType === "steel",
          "border-pokemon-fairy-900": pricinpalType === "fairy",
        },
      ]}
    >
      <div class="flex justify-between items-start space-y-2">
        <p
          transition:name={`${slug}-name`}
          class:list={[
            "w-fit rounded-r-full py-2 px-4 uppercase font-extrabold text-white",
            {
              "bg-pokemon-normal-900": pricinpalType === "normal",
              "bg-pokemon-fire-900": pricinpalType === "fire",
              "bg-pokemon-water-900": pricinpalType === "water",
              "bg-pokemon-electric-900": pricinpalType === "electric",
              "bg-pokemon-grass-900": pricinpalType === "grass",
              "bg-pokemon-ice-900": pricinpalType === "ice",
              "bg-pokemon-fighting-900": pricinpalType === "fighting",
              "bg-pokemon-poison-900": pricinpalType === "poison",
              "bg-pokemon-ground-900": pricinpalType === "ground",
              "bg-pokemon-flying-900": pricinpalType === "flying",
              "bg-pokemon-psychic-900": pricinpalType === "psychic",
              "bg-pokemon-bug-900": pricinpalType === "bug",
              "bg-pokemon-rock-900": pricinpalType === "rock",
              "bg-pokemon-ghost-900": pricinpalType === "ghost",
              "bg-pokemon-dragon-900": pricinpalType === "dragon",
              "bg-pokemon-dark-900": pricinpalType === "dark",
              "bg-pokemon-steel-900": pricinpalType === "steel",
              "bg-pokemon-fairy-900": pricinpalType === "fairy",
            },
          ]}
        >
          {slug}
        </p>

        <p class="text-white text-xs" transition:name={`${slug}-id`}>
          Nº{prettyId}
        </p>
      </div>

      <div class="flex flex-col w-full p-4">
        <div class="flex gap-4 w-full">
          <div class="flex flex-col w-3/4 space-y-4">
            <div>
              <Typography as="h2" type={pricinpalType}>Stats</Typography>

              {
                info.stats.map((stat) => (
                  <div class="grid grid-cols-[120px,1fr] gap-2 items-center w-full">
                    <p class="text-white text-right uppercase text-xs">
                      {stat.stat.name}
                    </p>
                    <Progress
                      type={pricinpalType}
                      percentage={stat.base_stat}
                    />
                  </div>
                ))
              }
            </div>

            <div>
              <div class="flex flex-col space-y-2">
                <Typography as="h2" type={pricinpalType}>Weaknesses</Typography>
                <div class="flex flex-wrap gap-2">
                  {
                    damageRelations.map((damage) =>
                      damage.damage_relations.double_damage_from.map((type) => (
                        <img
                          src={`${baseURL}/images/${type.name}.png`}
                          alt={`${type.name} image`}
                          width="100"
                        />
                      ))
                    )
                  }
                </div>
              </div>
            </div>
          </div>

          <div class="flex flex-col w-1/4 space-y-4">
            <div class="flex flex-col space-y-2">
              <Typography as="h2" type={pricinpalType}>Type</Typography>
              <div class="flex flex-wrap gap-2">
                {
                  info.types.map((type) => (
                    <img
                      src={`${baseURL}/images/${type.type.name}.png`}
                      alt={`${type.type.name} image`}
                      width="100"
                    />
                  ))
                }
              </div>
            </div>

            <div class="flex flex-col space-y-4">
              <div class="flex flex-col space-y-2">
                <Typography as="h2" type={pricinpalType}>Weigth</Typography>
                <p class="text-white text-sm">
                  {prettyWeigth()}
                </p>
              </div>

              <div class="flex flex-col space-y-2">
                <Typography as="h2" type={pricinpalType}>Height</Typography>
                <p class="text-white text-sm">
                  {prettySize()}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
